body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #fefefe;
    width: 1000px;
    margin: 0 auto;
}
a:link {
    color:royalblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#container {
    position: relative;
}

#album-viz {
    position: absolute;
    top: 90px;
    width: 100%;
}

#title {
    position: absolute;
    font-size: 30px;
    font-weight: 100;
    top: 20px;
}

#info {
    position: absolute;
    font-size: 11px;
    top: 18px;
    width: 300px;
    right: 0px;
}

#album-menu {
    font-size: 14px;
}

#chart-holder {
    height: 750px;
    width: 100%;
    position: relative;
}

/*allows SVG contexts to expand to fit their containers*/
#chart-holder svg {
    height: 100%;
    width: 100%;
}

#genre-bar, #selected-album,  #sales-bar, #album-timeline, #album-list {
    position: absolute;
}

#album-timeline {
    top: 0;
    height: 150px;
    width: 100%;
}

#genre-bar {
    top: 160px;
    height: 350px;
    width: 700px;
}

#sales-bar {
    top: 510px;
    height: 240px;
    width: 700px;
}


#album-list {
    top: 160px;
    height: 340px;
    width: 290px;
    left: 700px;
    padding-left: 10px;
}

#selected-album {
    top: 510px;
    left: 700px;
    height: 240px;
    width: 300px;
}


/* BAR CHARTS*/
.bar.active {
    fill: goldenrod;
}

.bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown;
}

.axis {
    font: 10px sans-serif;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

#y-axis-label {
    font-size: 11px;
}

/* Timeline */
.labels text {
    font-size: 11px;
}

#album-timeline circle {
    stroke-width: 0;
    stroke: black;
}

/* Menu Bar */
#album-menu div {
    display:inline-block;
}

#album-menu option {
    font-size: 12px;
}

/* ALBUM LIST */
#album-list {
    overflow: scroll;
    overflow-x: hidden;
}

#album-list table {
    font-size: 10px;
}

#album-list table th#year {
    width: 30px;
}

#album-list table th#artist {
    width: 120px;
}

#album-list table th#album {
    width:120px;
}

#album-list h2 {
    font-size:14px;
    margin:4px;
    text-align:center;
}

#album-list tr:hover{
    cursor: pointer;
    background:lightblue;
}

#album-list tr {
 opacity: 1;
}

/* SELECTED ALBUM */
#selected_album {
    font-size:11px;
    overflow:auto;
    overflow-x:hidden;
    border-top:4px solid;
}

#selected-album #coverbox img{
    margin:0;
    width:300px;
}



